<tr {{bindAttr class='paid'}}>
  {{#if isIndex}}
    <td class='project'>
      {{#linkTo project project}}{{project.name}}{{/linkTo}}
    </td>
  {{/if}}
  <td class='date'>{{formatDate date}}</td>
  <td class='hours'>{{hours}}</td>
  <td class='dollars'>{{formatMoney dollars}}</td>
  <td class='description'>{{description}}</td>
  <td {{action toggleProperty 'paid'}} {{bindAttr class=':paid paid:active'}}>
    {{#if paid}}
      <span>Paid</span>
    {{/if}}
  </td>
</tr>
