<header>
  <h1>{{#linkTo projects}}Projects{{/linkTo}}<span>/</span>{{name}}</h1>
  <ul id='project-totals'>
    <li class='unpaid'>
      <span class='hours'>{{unpaidHours}}</span>
      <span class='dollars'>{{formatMoney unpaidDollars}}</span>
    </li>
    <li class='paid'>
      <span class='hours'>{{paidHours}}</span>
      <span class='dollars'>{{formatMoney paidDollars}}</span>
    </li>
    <li class='total'>
      <span class='hours'>{{totalHours}}</span>
      <span class='dollars'>{{formatMoney totalDollars}}</span>
    </li>
  </ul>
</header>

<section class="project-details">
<ul>
  <li> Project Rate: {{rate}} </li>
  <li> Project Budget: {{budget}}$ </li>
</ul>
</section>

{{render timeEntriesNew}}

<table id='time-entries-table'>
  <thead>
    <tr>
      <th class='date'><span>Date</span></th>
      <th class='hours'><span>Hrs</span></th>
      <th class='dollars'><span>$</span></th>
      <th class='description'>Description</th>
      <th class='paid'>Paid</th>
    </tr>
  </thead>
  <tbody>
    {{log timeEntries}}
    {{#each timeEntries itemController="timeEntry"}}
      <tr {{bindAttr class='paid'}}>
        <td class='date'>{{formatDate date}}</td>
        <td class='hours'>{{hours}}</td>
        <td class='dollars'>{{formatMoney dollars}}</td>
        <td class='description'>{{description}}</td>
        <td {{action toggleProperty 'paid'}} {{bindAttr class=':paid paid:active'}}>
          {{#if paid}}
            <span>Paid</span>
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
