<header>
  <h1>{{#linkTo projects}}Projects{{/linkTo}}<span>/</span>{{name}}</h1>
  <ul id='project-totals'>
    <li class='unpaid'>
      <span class='hours'>{{unpaidHours}}</span>
      <span class='dollars'>{{formatMoney unpaidDollars}}</span>
    </li>
    <li class='paid'>
      <span class='hours'>{{paidHours}}</span>
      <span class='dollars'>{{formatMoney paidDollars}}</span>
    </li>
    <li class='total'>
      <span class='hours'>{{totalHours}}</span>
      <span class='dollars'>{{formatMoney totalDollars}}</span>
    </li>
  </ul>
</header>

{{#if timeEntries}}
  {{render timeEntries timeEntries}}
{{/if}}