<section id='new-time-entry-form' {{bindAttr class='isIndex'}}>
  <fieldset >
    <ol>
      {{#if isIndex}}
        <li class='project'>
          <label for='project-select-field'>Project</label>
          {{view Em.Select
                  contentBinding='controllers.projects'
                  optionValuePath='content.id'
                  optionLabelPath='content.name'
                  selectionBinding='project'
                  prompt='Project'
                  id='project-select-field'
                  tabindex='1' }}
        </li>
      {{/if}}

      <li class='date'>
        <label for='date-field'>Date</label>
        {{view ETT.NewEntryInputField
                type='date'
                valueBinding='date'
                id='date-field'
                tabindex='2' }}
      </li>

      <li class='hours'>
        <label for='hours-field'>Hours</label>
        {{view ETT.NewEntryInputField
                valueBinding='hours'
                type='number'
                id='hours-field'
                min='0.5'
                max='12'
                step='0.5'
                placeholder='Hours'
                tabindex='3' }}
      </li>

      <li class='description'>
        <label for='description-field'>Description</label>
        {{view ETT.NewEntryDescriptionTextArea
                valueBinding='description'
                id='description-field'
                placeholder='Description...'
                tabindex='4'
                rows='1' }}
      </li>

      <li class='submit'>
        <button {{action saveNewEntry}} {{bindAttr disabled='isInvalid'}}
          id='submit-entry' type='submit' tabindex='5' alt='submit'></button>
      </li>
    </ol>
  </fieldset>
</section>
