<ul id='totals'>
  <li class='unpaid'>
    <h2>Unpaid: <strong>{{{unpaidHours}}}</strong> hrs</h2>
    
    <span>$</span> {{{unpaidDollars}}}
  </li>
  <li class='paid'>
    <h2>Paid: <strong>{{{paidHours}}}</strong> hrs</h2>
    <span>$</span> {{{paidDollars}}}
  </li>
  <li class='total'>
    <h2>Total: <strong>{{{totalHours}}}</strong> hrs</h2>
    <span>$</span> {{{totalDollars}}}
  </li>
</ul>